.app {
  padding: 10px 20px;
}

.app h1 {
  text-align: center;
  margin: 20px;
}

.bom-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bom-card {
  margin: 5px;
  background-color: rgb(185, 219, 166);
}

.item {
  margin-bottom: 5px;
}
